-
    email.from = "Admin <admin@localhost>";
    email.subject = "Confirm your account";

html
    body
        p Hi #{user.name.givenName}
        p Thank you for registering an account, we just need you to click the link below to confirm the email address that you provided on the registration form.
        p
            a(href=confirmationUrl) Confirm your account.
        p After that you'll be logged in and ready to go.
        p Thanks again
