-
    email.from = "Admin <admin@localhost>";
    email.subject = "Email change notification";

html
    body
        p Hi #{user.name.givenName}
        p A request has been made to change the email address. If you know about this, then you can ignore this message.
        p Thanks
