extends ./page-template.pug

block content
    h1 Recovery Pending
    p We've sent an email to you that can be used to recover your account. Please click on the link in that email to continue.
    p You can close this page at any time.
    p <b>NOTE:</b> We are unable to confirm here whether or not the email address that you entered is registered in the system, as doing so would reveal personal information.
