extends ./page-template.pug

block content
    h1 Almost There
    p As a security precaution, we need to verify that the email address you gave us belongs to you. We have sent you an email containing a special link that you must click in order to complete this proces.
    p You can close this page, and your browser now if you like.
    p Thanks
